
#intro {
    color: #506C5F;
    font-family: 'Montserrat';

}
#name {
    color:#42594E;
    font-family: 'Montserrat';
}

body {
    background-color: #f6fff8;
    font-family: 'Signika Negative';
    font-size: 18px;
    color: #42594E;

}

#selfie {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    border-radius: 25px;
}

#sanf {
    color: #c0362c;
}

#trybe {
    color:rgb(72, 131, 55)
}

h1,h2,h3{
    text-align: center;
    color: #506C5F;
}