
#intro {
    color: #506C5F;
    font-family: 'Montserrat';

}
#name {
    color:#42594E;
    font-family: 'Montserrat';
}

body {
    background-color: #f6fff8;
    font-family: 'Signika Negative';
    font-size: 18px;
    color: #42594E;

}
.div1 {
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
    
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

.div2 {
    background: yellow;
  }

.div3 {
    background: green;
}

#selfie {
    display:block;
    width: 160px;
    float: left;
    border-radius: 25px;
}
#descricao{
    font-size:20px;
    margin-left: 10px;
}

  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


#sanf {
    color: #c0362c;
}

#trybe {
    color:rgb(72, 131, 55)
}

h1,h2,h3{
    text-align: center;
    color: #506C5F;
}

.abilities {
    font-size: 20px;
}


.social {
    font-size: 16px;
}